
<launch>

  <arg name="world_name" default="$(find path_planner_3d)/worlds/map1.world"/>
  <!--<arg name="world_name" default="$(find path_planner_3d)/worlds/map2.world"/>
  <arg name="world_name" default="$(find path_planner_3d)/worlds/map3.world"/>-->


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="false"/>

  </include>


  <arg name="robot_name" value="robot1"/>
  <!-- map3 -->
  <!--
  <arg name="posx" value="4.5"/>
  <arg name="posy" value="10.5"/>
  <arg name="posYaw" value="0.0"/>

  -->

  <arg name="posx" value="2.5"/>
  <arg name="posy" value="2.5"/>
  <arg name="posYaw" value="0.0"/>


  <include file="$(find path_planner_3d)/launch/includes/robot_velodyne.launch.xml">
    <arg name="posx" value="$(arg posx)"/>
    <arg name="posy" value="$(arg posy)"/>
    <arg name="posYaw" value="$(arg posYaw)"/>
  </include>


  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find git_robots)/definition/sim/my_laser_config.yaml" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)map_broadcaster" args="$(arg posx) $(arg posy) 0 0 0 0.0 map odom 100" />

  <node pkg="path_planner_3d" type="csv2Octomap_node" name="csv2Octomap_node" output="screen">
    <param name="map_file" value="$(find path_planner_3d)/maps/csv/map1.csv" />
  </node>

  <node pkg="path_planner_3d" type="fakeLocalization_node" name="fakeLocalization_node" output="screen"/>

  <node pkg="path_planner_3d" type="path_planner_3d_node" name="path_planner_3d_node" output="screen"/>


</launch>
