<launch>

  <arg name="map" value="map1"/>
  <arg name="ground_robot" value="true"/>
  <arg name="world_name" default="$(find path_planner_3d)/worlds/$(arg map).world"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="false"/>
  </include>


  <!-- map3 -->
  <!--
  <arg name="posx" value="4.5"/>
  <arg name="posy" value="10.5"/>
  <arg name="posYaw" value="0.0"/>

  -->

  <!-- map4 -->
<!--
  <arg name="posx" value="4.5"/>
  <arg name="posy" value="14.5"/>
  <arg name="posYaw" value="0.0"/>

-->

  <arg name="posx" value="2.5"/>
  <arg name="posy" value="2.5"/>
  <arg name="posYaw" value="0.0"/>


  <include file="$(find path_planner_3d)/launch/includes/robot_velodyne.launch.xml">
    <arg name="posx" value="$(arg posx)"/>
    <arg name="posy" value="$(arg posy)"/>
    <arg name="posYaw" value="$(arg posYaw)"/>
  </include>


  <arg name="robot_name" value="robot1"/>
  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)map_broadcaster" args="$(arg posx) $(arg posy) 0 0 0 0.0 map odom 100" />

  <node pkg="path_planner_3d" type="csv2Octomap_node" name="csv2Octomap_node" output="screen">
    <param name="map_file" value="$(find path_planner_3d)/maps/csv/$(arg map).csv" />
    <param name="robot_radius" value="0.2" />
  </node>

  <node pkg="path_planner_3d" type="fakeLocalization_node" name="fakeLocalization_node" output="screen"/>

  <node pkg="path_planner_3d" type="path_planner_3d_node" name="path_planner_3d_node" output="screen">
    <param name="max_iter" value="15000" />
    <param name="step_size" value="0.3" />
    <param name="end_dist_threshold" value="0.3" />
    <param name="rrtstar_neighbor_factor" value="3.0" />
    <param name="ground_robot" value="$(arg ground_robot)" />
  </node>

  <node pkg="path_planner_3d" type="kobuki_controller_node" name="kobuki_controller_node" output="screen">
    <param name="ground_robot" value="$(arg ground_robot)" />
  </node>


</launch>
